{% extends "base/form.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block form_title %}
<h1 align="center"><span class="uk-margin-small-right" uk-icon="icon: image; ratio: 2"></span> Profile </h1>
{% endblock %}

{% block submit %}
<button class="uk-button uk-button-default" id="preview">PREVIEW</button>
<br><br>
<button class="uk-button uk-button-primary" type="submit">SAVE</button>
{% endblock %}

{% block scripts %}
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script>
var preview = $("#preview")
preview.on('click', function(){
  data = $('form').serialize()
  window.open('/theme/'+$("#id_theme").val()+'?'+data)
})
</script>
{% endblock %}
