<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>
.CodeMirror {
	height: 300px;
}
</style>
{% extends "base/form.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block form_head %}
<form method="post" enctype="multipart/form-data">
{% endblock %}
{% block form_title %}
<h1 align="center"><span class="uk-margin-small-right fas fa-user-circle"></span> Profile </h1>
{% endblock %}

{% block submit %}
<button class="uk-button uk-button-default" id="preview">PREVIEW</button>
<br><br>
<button class="uk-button uk-button-primary" type="submit">SAVE</button>
{% endblock %}

{% block scripts %}
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById('id_description'), forceSync: true });
</script>
<script src="{% static "core/profile.js" %}"></script>
{% endblock %}
