  {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
    </head>
    <body>
      <div align="center">
      <div class="uk-container-xsmall">
        <br><br>

    <!--TODO FIX CARD RESPONSIVENESS ON PHONE
      <div class="uk-card uk-card-default uk-card-body uk-width-6-6"> -->
          <h1 align="center"><span class="uk-margin-small-right" uk-icon="icon: sign-in; ratio: 2"></span>Login</h1>
          <br />
          <form method="post" align="">

            {% if form.non_field_errors %}
            <div class="uk-alert-danger uk-width-5-6" uk-alert>
              <a class="uk-alert-close" uk-close></a>
                  {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="uk-margin" align="">
              {% if field.errors %}
              <div class="uk-alert-danger uk-width-5-6" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                    {{ field.errors }}
              </div>
              {% endif %}
              <div align="center">
              <label for="{{field.id_for_label}}" align="left">
              {{ field.label }}
              </label>
              <br>
              <div class="uk-inline uk-width-2-3">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input type="{{ field.field.widget.input_type }}" name="{{field.name}}" class="uk-input"></input>
              </div>
              </div>
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
          </div>
          {% endfor %}
          <br />
          <button class="uk-button uk-button-primary" type="submit">Login</button>
          </form>
        <!-- </div> -->

      </div>
      </div>


    </body>

</html>
