{% load static %}
{% load analytics_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='{% static "themes/bc5ac915-97a8-40d7-8598-62d0e2554de0/style.css" %}' rel='stylesheet' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <title>{{ profile.first_name }} {{ profile.last_name }}</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <div class="avatar">
          {% if profile.image %}
          <img src="{{ profile.image.url }}" alt="Avatar">
          {% else %}
          <img src="/media/defaults/default_profile.png" alt="Avatar">
          {% endif %}
        </div>
        <div class="name">{{ profile.first_name }} {{ profile.last_name }}</div>
        <div class="short-description">
          {{ profile.short_description }}
        </div>
        <div class="social">
          <a href="#" class="website"><i class="fas fa-link"></i></a>
          {% if profile.medium %}
          <a href="{% inc_url id=profile.id redir=profile.medium platform="medium" %}" class="medium"><i class="fab fa-medium"></i></a>
          {% endif %}
          {% if profile.github %}
          <a href="{% inc_url id=profile.id redir=profile.github platform="github" %}" class="github"><i class="fab fa-github"></i></a>
          {%endif%}
          {% if profile.twitter %}
          <a href="{% inc_url id=profile.id redir=profile.twitter platform="twitter" %}" class="twitter"><i class="fab fa-twitter"></i></a>
          {%endif%}
          {% if profile.facebook %}
          <a href="{% inc_url id=profile.id redir=profile.facebook platform="facebook" %}" class="facebook"><i class="fab fa-facebook"></i></a>
          {%endif%}
          {% if profile.linkedin %}
          <a href="{% inc_url id=profile.id redir=profile.linkedin platform="linkedin" %}" class="linkedin"><i class="fab fa-linkedin"></i></a>
          {%endif%}
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="description" id="style-scroll">
          <div id="description">{{ profile.description }}</div>
        </div>
        <div class="social">
            <a href="#" class="website"><i class="fas fa-link"></i></a>
            {% if profile.medium %}
            <a href="{% inc_url id=profile.id redir=profile.medium platform="medium" %}" class="medium"><i class="fab fa-medium"></i></a>
            {% endif %}
            <a href="{% inc_url id=profile.id redir=profile.github platform="github" %}" class="github"><i class="fab fa-github"></i></a>
            {% if profile.github %}
            {%endif%}
            {% if profile.twitter %}
            <a href="{% inc_url id=profile.id redir=profile.twitter platform="twitter" %}" class="twitter"><i class="fab fa-twitter"></i></a>
            {%endif%}
            {% if profile.facebook %}
            <a href="{% inc_url id=profile.id redir=profile.facebook platform="facebook" %}" class="facebook"><i class="fab fa-facebook"></i></a>
            {%endif%}
            {% if profile.linkedin %}
            <a href="{% inc_url id=profile.id redir=profile.linkedin platform="linkedin" %}" class="linkedin"><i class="fab fa-linkedin"></i></a>
            {%endif%}
          </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  {% if not preview %}
  <script src="{% static "themes/base.js"%}"></script>
  <script>
    var profile_inc_url = "{% inc_url id=profile.id platform='profile' %}"
    console.log(profile_inc_url)
  </script>
  {% endif %}
</body>
</html>
