<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.min.css ">

    <title>{{ user.first_name }} {{ user.last_name }}</title>
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section>
          Here's Slide One
        </section>
				<section>
          Here's slide Two
        </section>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
		<script>
			Reveal.initialize();
		</script>
  </body>
</html>
