{% load static %}
{% load analytics_tags %}
<!DOCTYPE html>
<html>

<head>
  <title>{{ user.first_name }} {{ user.last_name }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='{% static "themes/de9d76bb-14fa-45c1-9a99-d01b25414ce8/basic.css" %}' rel='stylesheet' />
</head>

<body>
  <canvas></canvas>
  <div class="uk-position-center wrapper">
    {% if user.image %}
    <img src="{{ user.image.url }}" alt="Avatar" class="avatar-user" width="128">
    {% else %}
    <img src="/media/defaults/default_user.png" alt="Avatar" class="avatar-user" width="128">
    {% endif %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <h2>{{user.short_description}}</h2>
    <p class="description" id="description">
      {{ user.description }}
    </p>
    <p>
      <a href="#" target="_blank" class="link">Website</a>
    </p>
    <p>
      <a href="#" target="_blank" class="link">Blog</a>
    </p>
  </div>
  <ul class="uk-tab-bottom uk-flex-center uk-position-bottom" uk-tab>
    <li class="uk-active"><a href="#">Home</a></li>
    {% if user.medium %}
      <li><a href="{% inc_url id=user.user.id redir=user.medium platform="medium" %}">Medium</a></li>
    {% endif %}
    {% if user.github %}

    <li><a href="{% inc_url id=user.user.id redir=user.github platform="github" %}">Github</a></li>
    {%endif%}
    {% if user.twitter %}
    <li><a href="{% inc_url id=user.user.id redir=user.twitter platform="twitter" %}">Twitter</a></li>
    {%endif%}
    {% if user.facebook %}
    <li><a href="{% inc_url id=user.user.id redir=user.facebook platform="facebook" %}">Facebook</a></li>
    {%endif%}
    {% if user.linkedin %}
    <li><a href="{% inc_url id=user.user.id redir=user.linkedin platform="linkedin" %}">Linkedin</a></li>
    {%endif%}
  </ul>
  <script src='{% static "themes/de9d76bb-14fa-45c1-9a99-d01b25414ce8/basic.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  {% if not preview %}
  <script src="{% static "themes/base.js"%}"></script>
  <script>
    var profile_inc_url = "{% inc_url id=user.user.id platform='profile' %}"
  </script>
  {% endif %}
</body>
</html>
