{% load static %}
{% load render_bundle from webpack_loader %}
{% load analytics_tags %}
<!DOCTYPE html>
<html>

<head>
  <title>{{ profile.first_name }} {{ profile.last_name }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='{% static "themes/de9d76bb-14fa-45c1-9a99-d01b25414ce8/basic.css" %}' rel='stylesheet' />
</head>

<body>
  <canvas></canvas>
  <div id="primary-content">
    <div class="uk-position-center wrapper">
      {% if profile.image %}
      <img src="{{ profile.image.url }}" alt="Avatar" class="avatar-user" width="128">
      {% else %}
      <img src="/media/defaults/default_user.png" alt="Avatar" class="avatar-user" width="128">
      {% endif %}
      <h1>{{profile.first_name}} {{profile.last_name}}</h1>
      <h2>{{profile.short_description}}</h2>
      <p class="description" id="description">
        {{ profile.description }}
      </p>
      <br><br>
      <br>
      <p>
        <a href="#" target="_blank" class="link">Website</a>
      </p>
      <p>
        <a href="#" target="_blank" class="link">Blog</a>
      </p>
    </div>
  </div>
  <div id="react-medium" class="hidden"></div>
  <div id="react-unsplash" class="hidden"></div>
  <ul class="uk-tab-bottom uk-flex-center uk-position-bottom" uk-tab>
    <li class="uk-active"><a onclick="toggleHome()">Home</a></li>
    {% if profile.medium %}
      <li><a onclick="toggleMedium()">Medium</a></li>
    {% endif %}
    {% if profile.unsplash %}
      <li><a onclick="toggleUnsplash()">Unsplash</a></li>
    {% endif %}
    {% if profile.github %}
    <li><a href="{% inc_url id=profile.id redir=profile.github platform="github" %}">Github</a></li>
    {%endif%}
    {% if profile.twitter %}
    <li><a href="{% inc_url id=profile.id redir=profile.twitter platform="twitter" %}">Twitter</a></li>
    {%endif%}
    {% if profile.facebook %}
    <li><a href="{% inc_url id=profile.id redir=profile.facebook platform="facebook" %}">Facebook</a></li>
    {%endif%}
    {% if profile.linkedin %}
    <li><a href="{% inc_url id=profile.id redir=profile.linkedin platform="linkedin" %}">Linkedin</a></li>
    {%endif%}
  </ul>
  <script src='{% static "themes/de9d76bb-14fa-45c1-9a99-d01b25414ce8/basic.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  {% if not preview %}
  <script src="{% static "themes/base.js"%}"></script>
  {% endif %}
  <script>
  window.prefix = '{{profile.prefix}}'
  document.getElementById('description').innerHTML =
  marked(document.getElementById('description').innerHTML.trim())
  {% if profile.medium or profile.unsplash %}
  function toggleHome() {
    document.getElementById('primary-content').classList.remove('hidden');
    document.getElementById('react-medium').classList.add('hidden');
    document.getElementById('react-unsplash').classList.add('hidden');
  }
  {% endif %}
  {% if profile.medium %}
  function toggleMedium() {
    fetch("{% inc_url id=profile.id redir=profile.medium platform="medium" %}")
    document.getElementById('primary-content').classList.add('hidden');
    document.getElementById('react-medium').classList.remove('hidden');
    document.getElementById('react-unsplash').classList.add('hidden');
  }
  {% endif %}
  {% if profile.unsplash %}
  function toggleUnsplash() {
    fetch("{% inc_url id=profile.id redir=profile.unsplash platform="unsplash" %}")
    document.getElementById('primary-content').classList.add('hidden');
    document.getElementById('react-medium').classList.add('hidden');
    document.getElementById('react-unsplash').classList.remove('hidden');
  }
  {% endif %}
  var profile_inc_url = "{% inc_url id=profile.id platform='profile' %}"
  </script>
  {% if profile.medium %}
  {% render_bundle "medium"%}
  {% endif %}
  {% if profile.unsplash %}
  {% render_bundle "unsplash"%}
  {% endif %}
</body>
</html>
