{% extends "base/form_navbar.html"%}

{% block title %}
Activate Coupon
{% endblock %}

{% block form_title %}
<h1 align="center"><span class="uk-margin-small-right" uk-icon="icon: unlock; ratio: 2"></span> Activate Coupon </h1>
{% endblock %}

{% block submit %}
<button class="uk-button uk-button-primary" type="submit">SUBMIT</button>
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  document.getElementsByClassName('g-recaptcha')[0].align = 'center'
</script>
{% endblock %}
