{% extends "feedback/feedback.html"%}


{% block form_title %}
<h1 align="center"><span class="uk-margin-small-right" uk-icon="icon: code; ratio: 2"></span> Bug Report </h1>
{% endblock %}


{% block title%}
Submit a Bug Report
{% endblock %}

{% block submit %}
<button class="uk-button uk-button-primary">SUBMIT</button>
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  document.getElementsByClassName('g-recaptcha')[0].align = 'center'
</script>
{% endblock %}
